<!-- Start deneb_about section -->
<section class="deneb_about {% if include.section_class %} {{include.section_class}} {% else %} about_v1 {% endif %}">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-5">
				<div class="deneb_img_box wow fadeInLeft">
					<img src="{{relative_url}}/assets/images/avatar4.jpg" class="img-fluid" alt="">
				</div>
			</div>
			<div class="col-lg-7">
				<div class="deneb_content_box wow fadeInRight">
					<h2>Who !?</h2>
					<p>This dude. He started by developing ASM firmwares as a teenager for PIC16f84, then produced his own PCBs in the bathroom of his mother (making a mess with the chemicals).</p>
					<p>Now he works on developping systems that involves hardware, embedded software and classical backend dev.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_about section -->