<!-- Start deneb_achivement section -->
<section class="deneb_achivement section_padding">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6  wow fadeInLeft">
				<div class="section_title">
					<h2>Over 10 years of passion and counting</h2>
				</div>
				<div class="deneb_content_box">
					<p>What began as a teenage interest has now developed into an obsession and even a career. With over a decade of experience, I have worked at every level of the technology stack. However, my primary expertise lies in the development of firmware for embedded systems.</p>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="achivment_wrapper">
					<div class="single_achivment wow fadeInUp">
						<div class="icon">
							<img src="{{relative_url}}/assets/images/icon_8.png" class="img-fluid" alt="">
						</div>
						<h3>100%</h3>
						<p>Ownership</p>
					</div>
					<div class="single_achivment wow fadeInUp"  data-wow-delay=".1s">
						<div class="icon">
							<img src="{{relative_url}}/assets/images/icon_10.png" class="img-fluid" alt="">
						</div>
						<h3>10+</h3>
						<p>Trusted customers</p>
					</div>
					<div class="single_achivment wow fadeInUp"  data-wow-delay=".3s">
						<div class="icon">
							<img src="{{relative_url}}/assets/images/icon_9.png" class="img-fluid" alt="">
						</div>
						<h3>10+</h3>
						<p>Years of passion</p>
					</div>
					<div class="single_achivment wow fadeInUp" data-wow-delay=".2s">
						<div class="icon">
							<img src="{{relative_url}}/assets/images/icon_7.png" class="img-fluid" alt="">
						</div>
						<h3>∞</h3>
						<p>Interest in new ideas</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_achivement section -->