<!-- Start deneb_contact section -->
<section class="deneb_contact cantact_v2 section_padding">
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="section_title">
				<h2>Send us a message</h2>
			</div>
			<div class="contact_form">
				<form action="https://formspree.io/f/mgebeboa" method="POST">
					<div class="row">
						<div class="col-lg-6">
							<div class="form_group">
								<input type="email" class="form_control" placeholder="Email Address" name="email" required>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form_group">
								<input type="text" class="form_control" placeholder="Project Title" name="Project Title" required>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form_group">
								<textarea class="form_control" placeholder="Message" name="message"></textarea>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="button_box">
								<button class="deneb_btn" type="submit">Submit Now</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</section>
<!-- End deneb_contact section -->