<!-- Start deneb_contact section -->
<section class="deneb_contact contact_v1">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="deneb_img_box">
					<img src="/assets/images/contact.png" class="img-fluid" alt="portfolio"/>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="section_title">
					<h2>Get In Touch With Us</h2>
					<p>Tell us more about where your are in your project and how we could help you:</p>
				</div>
				<div class="contact_form">

					<form action="https://formspree.io/f/mgebeboa" method="POST">
						<div class="row">
							<div class="col-lg-12">
								<div class="form_group">
									<input type="email" class="form_control" placeholder="Email Address" name="email" required>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form_group">
									<textarea class="form_control" placeholder="Message" name="message"></textarea>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="button_box">
									<button class="deneb_btn" type="submit">Submit Now</button>
								</div>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_contact section -->