<!-- Start footer -->
<footer class="deneb_footer">
	<div class="widget_wrapper" style="background-image: url(/assets/images/footer_bg.png);">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="widget widegt_about mb-md-4 mb-lg-0">
						<div class="widget_title">
							<img src="{{site.site_logo}}" class="img-fluid" alt="{{site.title}}"/>
						</div>
						<!--<p>Quisque orci nisl, viverra et sem ac, tincidunt egestas massa. Morbi est arcu, hendrerit ac vehicula condimentum, euismod nec tortor praesent consequat urna.</p>-->
						<ul class="social">
							{% if site.facebook_url %}
							<li><a href="{{site.facebook_url}}" target="__blank"><i class="fab fa-facebook-f"></i></a></li>
							{% endif %}
							{% if site.twitter_url %}
							<li><a href="{{site.twitter_url}}" target="__blank"><i class="fab fa-twitter"></i></a></li>
							{% endif %}
							{% if site.instagram_url %}
							<li><a href="{{site.instagram_url}}" target="__blank"><i class="fab fa-instagram"></i></a></li>
							{% endif %}
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="widget widget_link">
						<div class="widget_title">
							<h4>Essencial Links</h4>
						</div>
						<ul>
							<li><a href="{{ 'about' | absolute_url }}">About Us</a></li>
							<li><a href="{{ 'portfolios' | absolute_url }}">Portfolio</a></li>
							<li><a href="{{ 'blog' | absolute_url }}">Blog</a></li>
							<li><a href="{{ 'contact' | absolute_url }}">Contact Us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="widget widget_contact">
						<div class="widget_title">
							<h4>Contact Us</h4>
						</div>
						<div class="contact_info">
							<!--<div class="single_info">
								<div class="icon">
									<i class="fas fa-phone-alt"></i>
								</div>
								<div class="info">
									<p><a href="tel:+919246147999">1800-121-3637</a></p>
									<p><a href="tel:+919246147999">+91 924-614-7999</a></p>
								</div>
							</div>-->
							<div class="single_info">
								<div class="icon">
									<i class="fas fa-envelope"></i>
								</div>
								<div class="info">
									<p><a href="mailto:contact@roblot.io">contact@roblot.io</a></p>
								</div>
							</div>
							<div class="single_info">
								<div class="icon">
									<i class="fas fa-map-marker-alt"></i>
								</div>
								<div class="info">
									<p>
										350 chemin du pré neuf<br>
										CDV 9760<br>
										38350 La Mure<br>
										France
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- End footer -->