<!-- Start deneb_cta section -->
<section class="deneb_cta">
	<div class="container">
		<div class="cta_wrapper">
			<div class="row align-items-center">
				<div class="col-lg-7">
					<div class="cta_content">
						<h3>Have a Project in Mind ?</h3>
						<p>Lets discuss your project and see how to make it move forward.</p>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="button_box">
						<a href="{{ 'contact' | absolute_url }}" class="deneb_btn">Get in touch</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_cta section -->