<!-- Start deneb_project section -->
<section class="deneb_project project_v1">
	<div class="shape_v3">
		<img src="/assets/images/shape/shape_10.png" class="shape_10" alt="">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>Our Latest Projects</h2>
					<!--<p>When unknow printer took a gallery of type and scramblted it to make a type specimen book</p>-->
				</div>
			</div>
		</div>
		<!--<div class="row">
			<div class="col-lg-12">
				<div class="project_button text-center">
					<button class="project_btn active_btn" data-filter="*">all</button>
					<button class="project_btn" data-filter=".hardware">Hardware design</button>
					<button class="project_btn" data-filter=".embedded">Embedded software</button>
					<button class="project_btn" data-filter=".backend">Backend software</button>
				</div>
			</div>
		</div>-->
		<div class="projects_slider_content">

			{% assign sortedProjects = site.projects | sort:"title" %}
			{% for project in sortedProjects %}
				<div class="single_project {{project.category}}">
					<div class="grid_item">
						<div class="deneb_img">
							<a href="{{project.url}}"><img src="{{project.icon}}" class="img-fluid" alt="{{project.title}}"></a>
						</div>
						<div class="deneb_info">
							<h4><a href="{{project.url}}">{{project.title}}</a></h4>
							<p>{{project.type}}</p>
						</div>
					</div>
				</div>
            {% endfor %}

		</div>
	</div>
</section>
<!-- End deneb_project section -->