<!-- Start deneb_experience section -->
<section class="deneb_experience">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>History</h2>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>Working on diverse project mostly using embedded C, C++/Qt and python. <BR> <a href="{{ 'projects' | absolute_url }}" class="deneb_btn">Learn more</a></p>
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3></h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>Senior Software Engineering Consultant</h4>
						<h5>Freelance</h5>
						<h6>2017- Present</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>Full Stack Developer</h4>
						<h5>Suiseki</h5>
						<h6>2019</h6>
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3></h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>Developed a platform to facilitate the planning of meetings and the edition of invoices for freelancers and very small companies: suiseki.cc.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>Took care of the embedded C for the Livecore video switcher/mixer family. This involves solving bugs found and new features like 4K video, custom output formats, areas of interests, automatic image splitting in multi output screens, output mapping in screens, etc...</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3></h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>Embedded Software Engineer</h4>
						<h5>Analog Way</h5>
						<h6>2014 - 2017</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>Drone designer</h4>
						<h5>Mavlab</h5>
						<h6>2014</h6>
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3></h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>Making an ornithopter fully autohnomus outside. Improoving an ESC in the process.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_experience section -->