<!-- Start deneb_skill section -->
<section class="deneb_skill">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-7">
				<div class="section_title">
					<h2>Skills</h2>
				</div>
				<div class="skill_wrapper">
					<div class="single_bar">
						<div class="progress_title">
							<h5>Embedded developpement<span>90%</span></h5>
						</div>
						<div class="progress">
							<div class="progress-bar wow slideInLeft" style="width: 90%;"><div class="dot"></div></div>
						</div>
					</div>
					<div class="single_bar">
						<div class="progress_title">
							<h5>Backend developpement<span>80%</span></h5>
						</div>
						<div class="progress">
							<div class="progress-bar wow slideInLeft" style="width: 80%;"><div class="dot"></div></div>
						</div>
					</div>
					<div class="single_bar">
						<div class="progress_title">
							<h5>PCB design<span>70%</span></h5>
						</div>
						<div class="progress">
							<div class="progress-bar wow slideInLeft" style="width: 70%;"><div class="dot"></div></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="deneb_img_box">
					<img src="../assets/images/skill2.png" class="img-fluid" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_skill section -->