<!-- Start deneb_project section -->
<section class="deneb_project project_v2 section_padding" id="project">
<div class="container">
<div class="row">
	<div class="col-lg-12">
		<div class="section_title text-center">
			<h2>Some of our projects</h2>
		</div>
	</div>
</div>
<!--<div class="row">
	<div class="col-lg-12">
		<div class="project_button_2 text-center">
			<button class="project_btn active_btn" data-filter="*">all</button>
			<button class="project_btn" data-filter=".hardware">Hardware design</button>
			<button class="project_btn" data-filter=".embedded">Embedded software</button>
			<button class="project_btn" data-filter=".backend">Backend software</button>
		</div>
	</div>
</div>-->
<div class="row grid_wrapper">

	{% assign sortedProjects = site.projects | sort:"title" %}
	{% for project in sortedProjects %}
		<div class="col-lg-4 col-md-6 col-sm-12 single_project {{project.category}}">
			<div class="grid_item">
				<div class="deneb_img">
					<a href="{{project.url}}"><img src="..{{project.icon}}" class="img-fluid" alt="{{project.title}}"/></a>
				</div>
				<div class="deneb_info">
					<h4><a href="{{project.url}}">{{project.title}}</a></h4>
					<p>{{project.type}}</p>
				</div>
			</div>
		</div>
	{% endfor %}

</div>
</div>
</section>
<!-- End deneb_project section -->