<div class="blog-posts-wrapper">
{% for post in paginator.posts %}
<div class="grid_item">
	<div class="deneb_img">
		<a href="{{post.url}}"><img src="{{post.post_image}}" class="img-fluid" alt="{{post.title}}"/></a>
	</div>
	<div class="deneb_info">
		<div class="post_meta">
			<ul>
				<li><i class="fas fa-clock"></i>{{post.date | date_to_long_string }}</li>
				{% if post.author %}
				<li><i class="fas fa-user"></i>By {{post.author}}</li>
				{% endif %}
			</ul>
			<ul>
			  <li><i class="fas fa-comment"></i><a href="{{post.url}}#disqus_thread" data-disqus-identifier="{{post.id}}">0</a></li>
			</ul>
		</div>
		<h3 class="title"><a href="{{post.url}}">{{post.title}}</a></h3>
		<p>{{post.content | strip_html | truncatewords:"45" }}</p>
	</div>
 </div>
 {% endfor %}
</div>