<!-- Start deneb_service section -->
<section class="service_wrapper section_padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="service_tab_wrap">
					<div class="service_tab_nav">
						<ul class="nav nav-tabs">
							
							{% assign sortedServices = site.services | sort:"order" %}
							{% for service in sortedServices %}
							<li class="nav-item">
								<a class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab" href="#{{service.type}}"><img src="..{{service.icon}}" alt="{{service.title}}" style="width: 60%"><span>{{service.title}}</span></a>
							</li>
							{% endfor %}

						</ul>
					</div>
					<!-- Tab panes -->
					<div class="tab-content">

						{% assign sortedServices = site.services | sort:"order" %}
						{% for service in sortedServices %}
					    <div id="{{service.type}}" class="tab-pane {% if forloop.first %}active{% else %}fade{% endif %}">
							<div class="row align-items-center">
								<div class="col-lg-6">
									<div class="deneb_content_box">
										<h2>{{service.title}}</h2>
										<p>{{service.short_description}}</p>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="deneb_img_box">
										<img src="..{{service.post_image}}" class="img-fluid" alt="{{service.title}}"/>
									</div>
								</div>
							</div>
					    </div>
						{% endfor %}
						
					</div>
					<!-- tab pane -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_service section -->