<div class="deneb_sidebar">
	<div class="widget widget_search">
		<form>
			<div class="form_group">
				<input type="text" id="search-input" class="form_control" placeholder="Search..."/>
				<i class="fas fa-search"></i>
				<button class="search_btn"><i class="fas fa-arrow-right"></i></button>
			</div>
		</form>
		<ul id="results-container"></ul>
	</div>
	<div class="widget widget_categories">
		<h3 class="widget-title">Category</h3>
		<ul>
        {% assign categories_list = site.categories %}
          {% if categories_list.first[0] == null %}
            {% for category in categories_list %}
              <li><a class="text-capitalize" href="/category/{{ category | downcase | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category | camelcase }} <span>({{ site.tags[category].size }})</span></a></li>
            {% endfor %}
          {% else %}
            {% for category in categories_list %}
              <li><a class="text-capitalize" href="/category/{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category[0] | camelcase }} <span>({{ category[1].size }})</span></a></li>
            {% endfor %}
          {% endif %}
        {% assign categories_list = nil %}
		</ul>
	</div>
	<div class="widget featured_news">
		<h3 class="widget-title">Recent Post</h3>
		{% for post in site.posts limit:"4" %}
		<div class="post_wrap">
			{% if post.post_image %}
			<div class="post_img">
				<img src="{{post.post_image}}" class="img-fluid" alt="{{post.title}}"/>
			</div>
			{% endif %}
			<div class="post_info">
				<h3><a href="{{post.url}}">{{post.title}}</a></h3>
				<p>{{post.date | date_to_long_string }}</p>
			</div>
		</div>
        {% endfor %}
	</div>

</div>