<!-- Start deneb_banner section -->
<section class="deneb_banner banner_v1">
	<div class="shape_v1">
		<img src="/assets/images/shape/shape_1.png" class="shape_1" alt="slider one">
	</div>
	<div class="container">
		<div class="hero_slider">
			<div class="signle_slider">
				<div class="row align-items-center">
					<div class="col-lg-5">
						<div class="banner_content wow fadeInLeft">
							<h1>Hardware <br><span>Software</span><br>Anywhere</h1>
							<a href="{{ 'contact' | absolute_url }}" class="deneb_btn">Get in touch</a>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="deneb_img_box wow fadeInRight">
							<img src="/assets/images/banner_04.png" class="img-fluid" alt="slider two"/>
						</div>
					</div>
				</div>
			</div>
			<div class="signle_slider">
				<div class="row align-items-center">
					<div class="col-lg-5">
						<div class="banner_content wow fadeInLeft">
							<h1>Technical solutions for innovative products</h1>
							<p>IOT product development from first concept to already in the field applications.</p>
							<a href="{{ 'contact' | absolute_url }}" class="deneb_btn">Get in touch</a>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="deneb_img_box wow fadeInRight">
							<img src="/assets/images/banner_05.png" class="img-fluid" alt="slider three"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_banner section-->