<!-- Start deneb_testimonial section -->
<section class="deneb_testimonial testimonial_v1">
	<div class="shape_v5">
		<img src="{{relative_url}}/assets/images/shape/shape_12.png" class="shape_12" alt="">
		<img src="{{relative_url}}/assets/images/shape/shape_13.png" class="shape_13" alt="">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>What People Say</h2>
				</div>
			</div>
		</div>
		<div class="row1">
			<div class="single_img">
				<img src="{{relative_url}}/assets/images/1.png" class="img-fluid" alt="">
			</div>
			<div class="single_img sm_img">
				<img src="{{relative_url}}/assets/images/2.png" class="img-fluid" alt="">
			</div>
			<div class="single_img sm_img">
				<img src="{{relative_url}}/assets/images/3.png" class="img-fluid" alt="">
			</div>
		</div>
		<div class="row2">
			<div class="single_img">
				<img src="{{relative_url}}/assets/images/4.png" class="img-fluid" alt="">
			</div>
			<div class="single_img sm_img">
				<img src="{{relative_url}}/assets/images/5.png" class="img-fluid" alt="">
			</div>
			<div class="single_img sm_img">
				<img src="{{relative_url}}/assets/images/6.png" class="img-fluid" alt="">
			</div>
			<div class="single_img">
				<img src="{{relative_url}}/assets/images/7.png" class="img-fluid" alt="">
			</div>
		</div>
		<div class="testimonial_slide">
			<div class="single_testimonial">
				<div class="client_img">
					<img src="{{relative_url}}/assets/images/testimonial/BeccaLemmons.jpg" class="img-fluid" alt="">
					<div class="qoute">
						<i class="fas fa-quote-left"></i>
					</div>
				</div>
				<div class="client_info">
					<h3>Becca Lemmons</h3>
					<h5>Sr. Manager, Product Management at Alteryx</h5>
					<p>I have been privileged to work with Clement the last two years and consider him one of the best engineers I have worked with in my 20+ year career in software development. He was able to get up to speed quickly and has amazing trouble-shooting and communication skills. He worked well across teams including with various customer service teams, engineering teams and Product. I would gladly bring him into future projects.</p>
				</div>
			</div>
			<div class="single_testimonial">
				<div class="client_img">
					<img src="{{relative_url}}/assets/images/testimonial/SophieLeBorgne.jpeg" class="img-fluid" alt="">
					<div class="qoute">
						<i class="fas fa-quote-left"></i>
					</div>
				</div>
				<div class="client_info">
					<h3>Sophie Le Borgne</h3>
					<h5>Head of the Arinfo Nantes training center</h5>
					<p>We called on Clément for training in Python, C, C ++ and embedded systems and are delighted with his service. The context was not obvious because he had to intervene in a very short time and with very different levels. Clément was able to adapt to our request and to the group by showing great professionalism, particularly in the preparation of his lessons. The interns were very satisfied with his service and so were we! Thank you Clément!</p>
				</div>
			</div>
			<div class="single_testimonial">
				<div class="client_img">
					<img src="{{relative_url}}/assets/images/testimonial/testimonial_2.jpg" class="img-fluid" alt="">
					<div class="qoute">
						<i class="fas fa-quote-left"></i>
					</div>
				</div>
				<div class="client_info">
					<h3>Youri Le Cottier</h3>
					<h5>TBC-France</h5>
					<p>Missions: Implementation of a homemade API in a client / server simulator (python / QT / socketIO) according to a specification. Contribution to the definition of the specifications of an on-board autonomous robot software. Team training in python, git and project management workflows. Impressions: Good contact with Clément. Friendly and available. Deliverables in accordance with specifications.</p>
				</div>
			</div>
			<div class="single_testimonial">
				<div class="client_img">
					<img src="{{relative_url}}/assets/images/testimonial/jasonPlank.jpeg" class="img-fluid" alt="">
					<div class="qoute">
						<i class="fas fa-quote-left"></i>
					</div>
				</div>
				<div class="client_info">
					<h3>Jason Plank</h3>
					<h5>Senior Software Delivery Manager at Alteryx</h5>
					<p>I highly recommend Clement for his exceptional C++ skills, strong work ethic, and great attitude. He was the lead developer on an escalations team I manage. It has been an absolute pleasure working with him.</p>
				</div>
			</div>
			<div class="single_testimonial">
				<div class="client_img">
					<img src="{{relative_url}}/assets/images/testimonial/BriegDeQuelen.jpeg" class="img-fluid" alt="">
					<div class="qoute">
						<i class="fas fa-quote-left"></i>
					</div>
				</div>
				<div class="client_info">
					<h3>Brieg De Quelen</h3>
					<h5>Analog Way</h5>
					<p>I worked with Clément on the video mixer switch at analog way. He was able to take charge of the project already under development and quickly adapt to the development environment to deliver the requested functionality.</p>
				</div>
			</div>
			<div class="single_testimonial">
				<div class="client_img">
					<img src="{{relative_url}}/assets/images/testimonial/JeanSebastienNavarro.jpeg" class="img-fluid" alt="">
					<div class="qoute">
						<i class="fas fa-quote-left"></i>
					</div>
				</div>
				<div class="client_info">
					<h3>Jean-Sébastien Navarro</h3>
					<h5>Nantes R&D Manager at Analog Way</h5>
					<p>A major bug that appeared on our large account customer installations requiring urgent intervention.
						All our R&D resources being occupied, we called on Clément who made himself available very quickly.
						Through his experience in embedded systems, he was able to analyze and correct our equipment by integrating perfectly into our development processes.
						His intervention allowed us to recover markets that had been blocked for several months.</p>
				</div>
			</div>
			<div class="single_testimonial">
				<div class="client_img">
					<img src="{{relative_url}}/assets/images/testimonial/amiranMelia.jpg" class="img-fluid" alt="">
					<div class="qoute">
						<i class="fas fa-quote-left"></i>
					</div>
				</div>
				<div class="client_info">
					<h3>Amiran Melia</h3>
					<h5>Software Developer at Toptal</h5>
					<p>I would trust your C code even while driving above the speed limit on the highway</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_testimonial section -->