<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<!-- All Meta -->
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="description" content="{{site.description}}">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- page title -->
		<title>{% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}</title>
		<!-- Favicon Icon -->
    	<link rel="shortcut icon" href="{{relative_url}}/assets/images/favicon.ico" type="image/png">
		<!-- All css -->
		<!--Bootstrap css-->
	    <link rel="stylesheet" href="{{relative_url}}/assets/css/bootstrap.min.css">
	    <!-- Fontawesome css -->
	    <link rel="stylesheet" href="{{relative_url}}/assets/fonts/fontawesome/css/all.css">
	    <!-- slick fader css -->
	    <link rel="stylesheet" href="{{relative_url}}/assets/css/slick.css">
	    <link rel="stylesheet" href="{{relative_url}}/assets/css/slick-theme.css">
	    <!-- sidebar-menu -->
	    <link rel="stylesheet" href="{{relative_url}}/assets/css/sidebar-menu.css">
	    <!--animate css-->
	    <link rel="stylesheet" href="{{relative_url}}/assets/css/animate.css">
	    <!--style css-->
	    <link rel="stylesheet" href="{{relative_url}}/assets/css/main.css">

		{% include analytics.html %}
	</head>
	<body>
		<!-- Preloader -->
		{% if site.site_preloader %}
		<div class="preloader">
			<div class="lds-ripple">
				<div></div>
				<div></div>
			</div>
		</div>
		{% endif %}
        {% include header.html %}

        {{content}}
         
        {% include footer.html %}
		<!-- jquery  -->
	    <script src="{{relative_url}}/assets/js/vendor/jquery-3.5.1.min.js"></script>
	    <!--modernizr js-->
	    <script src="{{relative_url}}/assets/js/vendor/modernizr-3.6.0.min.js"></script>
	    <!-- Bootstrap js  -->
	    <script src="{{relative_url}}/assets/js/vendor/bootstrap.min.js"></script>
	    <script src="{{relative_url}}/assets/js/vendor/popper.min.js"></script>
	    <!-- slick fader js  -->
	    <script src="{{relative_url}}/assets/js/vendor/slick.min.js"></script>
	    <!-- isotope js  -->
	    <script src="{{relative_url}}/assets/js/vendor/isotope.min.js"></script>
	    <!-- imageloaded js-->
	    <script src="{{relative_url}}/assets/js/vendor/imagesloaded.min.js"></script>
	    <!--sidebar js-->
	    <script src="{{relative_url}}/assets/js/vendor/sidebar-menu.js"></script>
	    <!--wow js-->
	    <script src="{{relative_url}}/assets/js/vendor/wow.min.js"></script>
	    <!-- Disqus Comments js-->
	    <script id="dsq-count-scr" src="//deneb-1.disqus.com/count.js" async></script>
	    <!-- Simple Jekyll Search js-->
	    <script src="{{relative_url}}/assets/js/simple-jekyll-search.min.js"></script>
	    <!-- custom js  -->
	    <script src="{{relative_url}}/assets/js/custom.js"></script>
	</body>
</html>