---
layout: default
---

<!-- Start deneb_breadcrumb section -->
<section class="deneb_breadcrumb bg_image" style="background-image: url(../assets/images/breadcrumb_bg.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb_content">
					<h1>About Me</h1>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li>About Me</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section><!-- End deneb_breadcrumb section -->
<!-- Start deneb_about section -->
<section class="deneb_about about_v2">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-5">
				<div class="deneb_img_box">
					<img src="../assets/images/about.png" class="img-fluid" alt="">
				</div>
			</div>
			<div class="col-lg-7">
				<div class="deneb_content_box">
					<h2>Why You Hire Us?</h2>
					<p>Proin ipsum arcu, lobortis id ullamcorper nec, vehicula eget magna. Sed ut malesuada magna, eget lacinia sapien. Nam molestie non ex sit amet ornare. Nunc in pellentesque ipsum, vel vulputate sapien.</p>
					<p>Suspendisse potenti. Aliquam elementum felis purus, quis vulputate libero semper nec. Morbi tincidunt maximus nisl vel placerat. Curabitur at ligula ac diam elementum hendrerit. Suspendisse nec metus eu est laoreet hendrerit vitae non ipsum. Nam faucibus elementum arcu, eget eleifend tortor.</p>
				</div>
				<div class="award_box">
					<div class="award_img">
						<img src="../assets/images/award.png" alt="">
					</div>
					<div class="award_info">
						<img src="../assets/images/sign_2.png" class="img-fluid" alt="">
						<h4>Deneb Team</h4>
						<h5>Best Award 2020</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_about section -->
<!-- Start deneb_skill section -->
<section class="deneb_skill">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-7">
				<div class="section_title">
					<h2>Let Know Our Expert Skills</h2>
					<p>Curabitur libero eros, efficitur sit amet sodales tincidunt, aliquet et leo. Sed ut nibh feugiat, auctor enim quis, hendrerit ipsum. Aenean blandit lacinia suscipit. Nunc ut tincidunt massa, eu semper lacus.</p>
				</div>
				<div class="skill_wrapper">
					<div class="single_bar">
						<div class="progress_title">
							<h5>UI/UX Design<span>85%</span></h5>
						</div>
						<div class="progress">
							<div class="progress-bar wow slideInLeft" style="width: 85%;"><div class="dot"></div></div>
						</div>
					</div>
					<div class="single_bar">
						<div class="progress_title">
							<h5>Web Design<span>75%</span></h5>
						</div>
						<div class="progress">
							<div class="progress-bar wow slideInLeft" style="width: 75%;"><div class="dot"></div></div>
						</div>
					</div>
					<div class="single_bar">
						<div class="progress_title">
							<h5>HTML/CSS<span>90%</span></h5>
						</div>
						<div class="progress">
							<div class="progress-bar wow slideInLeft" style="width: 90%;"><div class="dot"></div></div>
						</div>
					</div>
					<div class="single_bar">
						<div class="progress_title">
							<h5>Sketch<span>65%</span></h5>
						</div>
						<div class="progress">
							<div class="progress-bar wow slideInLeft" style="width: 65%;"><div class="dot"></div></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="deneb_img_box">
					<img src="../assets/images/skill.png" class="img-fluid" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_skill section -->
<!-- Start deneb_experience section -->
<section class="deneb_experience">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>Our Work Experience</h2>
					<p>When unknow printer took a gallery of type and scramblted it to make a type specimen book</p>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>Mauris dictum eros purus, vitae pharetra risus pulvinar rhoncus. Duis bibendum tristique luctus. Aliquam non urna odio morbi nec lectus tempus lorem vehicula consequat sed eu lectus. Ut maximus nulla a est placer.</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>1.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>Graphic Designer</h4>
						<h5>john abraham</h5>
						<h6>March 2007- August 2020</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>Graphic Designer</h4>
						<h5>john abraham</h5>
						<h6>March 2007- August 2020</h6>
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>2.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>Mauris dictum eros purus, vitae pharetra risus pulvinar rhoncus. Duis bibendum tristique luctus. Aliquam non urna odio morbi nec lectus tempus lorem vehicula consequat sed eu lectus. Ut maximus nulla a est placer.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="single_experience">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="deneb_text_box">
						<p>Mauris dictum eros purus, vitae pharetra risus pulvinar rhoncus. Duis bibendum tristique luctus. Aliquam non urna odio morbi nec lectus tempus lorem vehicula consequat sed eu lectus. Ut maximus nulla a est placer.</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-2">
					<div class="icon text-center">
						<h3>3.</h3>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<div class="deneb_info_box">
						<h4>Graphic Designer</h4>
						<h5>john abraham</h5>
						<h6>March 2007- August 2020</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_experience section -->
<!-- Start deneb_testimonial section -->
<section class="deneb_testimonial">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>What People Say</h2>
					<p>When unknow printer took a gallery of type and scramblted it to make a type specimen book</p>
				</div>
			</div>
		</div>
		<div class="row1">
			<div class="single_img">
				<img src="../assets/images/1.png" class="img-fluid" alt="">
			</div>
			<div class="single_img sm_img">
				<img src="../assets/images/2.png" class="img-fluid" alt="">
			</div>
			<div class="single_img sm_img">
				<img src="../assets/images/3.png" class="img-fluid" alt="">
			</div>
		</div>
		<div class="row2">
			<div class="single_img">
				<img src="../assets/images/4.png" class="img-fluid" alt="">
			</div>
			<div class="single_img sm_img">
				<img src="../assets/images/5.png" class="img-fluid" alt="">
			</div>
			<div class="single_img sm_img">
				<img src="../assets/images/6.png" class="img-fluid" alt="">
			</div>
			<div class="single_img">
				<img src="../assets/images/7.png" class="img-fluid" alt="">
			</div>
		</div>
		<div class="testimonial_slide">
			<div class="single_testimonial">
				<div class="client_img">
					<img src="../assets/images/testimonial_1.jpg" class="img-fluid" alt="">
					<div class="qoute">
						<i class="fas fa-quote-left"></i>
					</div>
				</div>
				<div class="client_info">
					<h3>John Doe</h3>
					<h5>Freelancer UX Designer</h5>
					<p>Donec condimentum vehicula iaculis. Maecenas in aliquet neque. Suspendisse viverra, ante eget pellentesque pulvinar, nunc nisi molestie ligula, vitae convallis orci justo vitae sem. Integer vitae imperdiet augue, sed accumsan diam. Etiam non quam commodo dolor convallis cursus. Duis tempus dolor eget gravida fringilla. In ultricies velit eget sem tempus egestas.</p>
				</div>
			</div>
			<div class="single_testimonial">
				<div class="client_img">
					<img src="../assets/images/testimonial_2.jpg" class="img-fluid" alt="">
					<div class="qoute">
						<i class="fas fa-quote-left"></i>
					</div>
				</div>
				<div class="client_info">
					<h3>John Doe</h3>
					<h5>Freelancer UX Designer</h5>
					<p>Donec condimentum vehicula iaculis. Maecenas in aliquet neque. Suspendisse viverra, ante eget pellentesque pulvinar, nunc nisi molestie ligula, vitae convallis orci justo vitae sem. Integer vitae imperdiet augue, sed accumsan diam. Etiam non quam commodo dolor convallis cursus. Duis tempus dolor eget gravida fringilla. In ultricies velit eget sem tempus egestas.</p>
				</div>
			</div>
			<div class="single_testimonial">
				<div class="client_img">
					<img src="../assets/images/testimonial_3.jpg" class="img-fluid" alt="">
					<div class="qoute">
						<i class="fas fa-quote-left"></i>
					</div>
				</div>
				<div class="client_info">
					<h3>John Doe</h3>
					<h5>Freelancer UX Designer</h5>
					<p>Donec condimentum vehicula iaculis. Maecenas in aliquet neque. Suspendisse viverra, ante eget pellentesque pulvinar, nunc nisi molestie ligula, vitae convallis orci justo vitae sem. Integer vitae imperdiet augue, sed accumsan diam. Etiam non quam commodo dolor convallis cursus. Duis tempus dolor eget gravida fringilla. In ultricies velit eget sem tempus egestas.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_testimonial section -->
<!-- Start deneb_blog section -->
<section class="deneb_blog blog_v1">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>Latest Articles</h2>
					<p>When unknow printer took a gallery of type and scramblted it to make a type specimen book</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="../assets/images/blog_1.jpg" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<a href="#" class="date">7 March, 2020</a>
						<h3><a href="blog-details.html">Horse play gormless knees up pardon me</a></h3>
						<p>Vivamus sollicitudin est vitae tortor tempus pharetra nullam convallis, arcu sed dictum aliquam.</p>
						<a href="#" class="link_btn">Read More</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="../assets/images/blog_2.jpg" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<a href="#" class="date">7 March, 2020</a>
						<h3><a href="blog-details.html">Horse play gormless knees up pardon me</a></h3>
						<p>Vivamus sollicitudin est vitae tortor tempus pharetra nullam convallis, arcu sed dictum aliquam.</p>
						<a href="#" class="link_btn">Read More</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="../assets/images/blog_3.jpg" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<a href="#" class="date">7 March, 2020</a>
						<h3><a href="blog-details.html">Horse play gormless knees up pardon me</a></h3>
						<p>Vivamus sollicitudin est vitae tortor tempus pharetra nullam convallis, arcu sed dictum aliquam.</p>
						<a href="#" class="link_btn">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_blog section -->
<!-- Start deneb_contact section -->
<section class="deneb_contact contact_v1 section_padding">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="deneb_img_box">
					<img src="../assets/images/contact.png" class="img-fluid" alt="">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="section_title">
					<h2>Get In Touch With Us</h2>
					<p>When unknow printer took a gallery of type and scramblted it to make a type specimen book</p>
				</div>
				<div class="contact_form">
					<form>
						<div class="row">
							<div class="col-lg-6">
								<div class="form_group">
									<input type="text" class="form_control" placeholder="First Name" name="name" required>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form_group">
									<input type="text" class="form_control" placeholder="Last Name" name="name" required>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form_group">
									<input type="email" class="form_control" placeholder="Email Address" name="email" required>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form_group">
									<input type="text" class="form_control" placeholder="Phone No." name="phone" required>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form_group">
									<textarea class="form_control" placeholder="Message" name="message"></textarea>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="button_box">
									<button class="deneb_btn">Submit Now</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_contact section -->