---
layout: default
---

{% include page_header.html %}

<!-- Start deneb_single_blog section -->
<section class="deneb_single_blog section_padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="single_blog_wrapper">
					<div class="post_top_content">
                        {% if page.post_image %}
						<div class="post_img">
							<img src="{{page.post_image}}" class="img-fluid" alt="{{post.title}}"/>
						</div>
                        {% endif %}
						<div class="post_meta border-bottom pb-4">
							<ul>
								<li class="date"><i class="fas fa-clock"></i>{{page.date | date_to_long_string }}</li>
								{% if page.author %}
								<li><i class="fas fa-user"></i>By {{page.author}}</li>
								{% endif %}
							</ul>
							<ul>
								<li><i class="fas fa-comment"></i><a href="{{page.url}}#disqus_thread" data-disqus-identifier="{{page.id}}">0</a></li>
							</ul>
						</div>
					</div>
					<div class="post_content mt-3">
						{{page.content}}
					</div>
					<div class="comment_wrapper">
						<h3>Comments</h3>
                        {% include disqus_comments.html %} 
					</div>
				</div>
			</div>
			<div class="col-lg-4">
              {% include sidebar.html %}
			</div>
		</div>
	</div>
</section>
<!-- End deneb_single_blog section -->