---
layout: default
---

{% include page_header.html %}

<!-- Start deneb_single_blog section -->
<section class="deneb_single_blog section_padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="single_blog_wrapper">
					<div class="post_top_content">
                        {% if page.post_image %}
						<div class="post_img">
							<img src="{{page.post_image}}" class="img-fluid" alt="{{post.title}}"/>
						</div>
                        {% endif %}
					</div>
					<div class="post_content pb-2">
						{{page.content}}
					</div>
					<div class="recent_post blog_v1">
						<h3>Related Blogs</h3>
						<div class="row">
							{% for post in site.posts limit: "3" %}
							<div class="col-lg-4">
								<div class="grid_item">
									{% if post.post_image %}
									<div class="deneb_img">
										<img src="{{post.post_image}}" class="img-fluid" alt="{{post.title}}"/>
									</div>
									{% endif %}
									<div class="deneb_info">
										<div class="date">{{post.date | date_to_long_string }}</div>
										<h3><a href="{{post.url}}">{{post.title}}</a></h3>
									</div>
								</div>
							</div>
                            {% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
              {% include sidebar.html %}
			</div>
		</div>
	</div>
</section>
<!-- End deneb_single_blog section -->